* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wp {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(background.jpeg);
    background-size: cover;
    background-position: center;
    padding-top: 15px;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: teal;
    border-radius: 20px;
}
.logo {
    width: 100px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    color: white;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.content h1 {
    font-size: 70px;
    margin-top: 100px;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: roboto;
    font-size: 20px;
}

button {
    width: 250px;
    height: 60px;
    text-align: center;
    margin-top: 150px;
    border-radius: 30px;
    font-weight: bold;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid teal;
    transition: .3s;
    font-size: 20px;
}
button:hover {
    background-color: teal;
}

.buynow {
    margin-top: 30px;
    margin-left: 30px;
}
.colimg{
    display: flex;
    flex-direction: column;
}
.colimg{
    width: max-content;
}